body {
    background: rgb(0, 47, 92);
    margin-left: 20px;
}
.wrapper {
    margin-bottom: 5px;
  padding: 4px 8px;
  margin-left: 10px;
}
h1 {
    color: white;
    margin-bottom: 20px;
}
/*
.container .flex-outer {
 font-family: 'Roboto Condensed', sans-serif;
}

.address-line 1{
    
}
*/
input {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    color: rgb(0, 0, 0);
}
label {
    color:white;
    margin-right: 10px;
}
.filteredCases {
    /*background: rgb(251, 252, 185);
    font: */
   flex-direction: column;
   flex-wrap: nowrap;
   margin-left: 10px;
}
.address{
    font:italic;
    font-weight: normal;
}
li {
 display: block;
 background-image: linear-gradient( rgb(255, 180, 109),rgb(255, 255, 255));
 font-family: 'Amiri', sans-serif;
 max-width: 300px;
 border: black;
 border-radius: 1px;
 padding: 15px;
 margin-bottom: 10px;
 color: rgb(128, 128, 128);
 border-radius: 20px;
}
.name{
    color:  rgb(0, 0, 0);
    font-weight:bold;
    font-size: 60;
}

  