body {
    background: rgb(0, 47, 92);
    margin-left: 10px;
}
.wrapper {
    margin-bottom: 5px;
  padding: 4px 8px;
  margin-left: 10px;
}
h1 {
    color: white;
    margin-bottom: 20px;
}
/*
.container .flex-outer {
 font-family: 'Roboto Condensed', sans-serif;
}

.address-line 1{
    
}
*/
input {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    color: rgb(0, 0, 0);
}
label {
    color:white;
    margin-right: 10px;
}
.filteredCases {
    
   
    /*background: rgb(251, 252, 185);
    font: */
   flex-direction: column;
   flex-wrap: nowrap;
}
.address{
    font:italic;
}
li {
 display: block;
 background-image: linear-gradient( rgb(255, 180, 109),rgb(255, 255, 255));
 max-width: 300px;
 border: black;
 border-radius: 1px;
 padding: 10px;
 margin-bottom: 10px;
 color:  rgb(0, 0, 0);
}

  